{:paths ["src" "."]
 :deps {datascript/datascript {:mvn/version "1.7.8"}
        org.replikativ/persistent-sorted-set {:mvn/version "0.4.122"}
        ;net.clojars.jumraiya/caudex {:local/root "../caudex"}
        datalevin/datalevin {:mvn/version "0.10.7"}
        com.datomic/peer {:mvn/version "1.0.7556"}
        prismatic/schema {:mvn/version "1.4.1"}
        net.clojars.jumraiya/caudex {:mvn/version "0.1.3"}
        org.rocksdb/rocksdbjni {:mvn/version "10.8.3"}
        org.lmdbjava/lmdbjava {:mvn/version "0.9.3"}}

 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.11"}}
                   :extra-paths ["."]
                   :ns-default build}

           :dev {:extra-paths ["test" "examples"]
                 :extra-deps {thheller/shadow-cljs {:mvn/version "3.3.6"}
                              ;org.clojure/clojurescript {:mvn/version "1.11.54"}
                              com.datomic/peer {:mvn/version "1.0.7394"}
                              com.clojure-goes-fast/clj-async-profiler {:mvn/version "2.0.0-beta1"}
                              com.github.flow-storm/flow-storm-dbg {:mvn/version "4.4.3"}
                              criterium/criterium {:mvn/version "0.4.6"}}
                 :jvm-opts ["-Djdk.attach.allowAttachSelf"]}
           :compile-circuits {:main-opts ["-m" "wizard.compile"]}

           :test {:extra-paths ["test"]
                  :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                             "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]
                  :extra-deps {nubank/matcher-combinators {:mvn/version "3.9.1"}}}

           :init-datalevin-bench {:jvm-opts  ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                                              "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
                                              "--enable-native-access=ALL-UNNAMED"
                                              "-Dclojure.compiler.direct-linking=true"
                                              "-Xmx20G"]
                                  :main-opts ["-m" "benchmark.datalevin.job"]
                                  :exec-fn   benchmark.datalevin.job/db}
           :datalevin-bench {:extra-paths ["."]
                             :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                                        "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
                                        "--enable-native-access=ALL-UNNAMED"
                                        "-Dclojure.compiler.direct-linking=true"
                                        "-server"
                                        "-XX:+UnlockDiagnosticVMOptions"
                                        "-Djdk.attach.allowAttachSelf"
                                        "-XX:+DebugNonSafepoints"
                                        "-Xmx16G"]
                             :main-opts ["-m" "benchmark.datalevin.wizard"]
                             :exec-fn benchmark.datalevin.wizard/-main
                             :extra-deps
                             {datalevin/datalevin {:mvn/version "0.10.7"}}}
           :datalevin-test {:exec-fn benchmark.datalevin.wizard/test-bench}
           :datascript-bench {:extra-paths ["."]
                              :jvm-opts ["-server"
                                         "-XX:+UnlockDiagnosticVMOptions"
                                         "-Djdk.attach.allowAttachSelf"
                                         "-XX:+DebugNonSafepoints"]
                              :main-opts ["-m" "benchmark.datascript.wizard"]
                              :extra-deps
                              {metosin/jsonista {:mvn/version "0.3.3"}
                               io.github.tonsky/duti {:git/sha "e36d65296a4f9758664309ec35b00887e88c405a"}}}

           ;; nREPL server for AI to connect to
           ;; Include all paths you want available for development
           :nrepl {:extra-paths ["test"]
                   :extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
		   ;; this allows nrepl to interrupt runaway repl evals
                   :jvm-opts ["-Djdk.attach.allowAttachSelf"]
                   :main-opts ["-m" "nrepl.cmdline" "--port" "7888"]}}}
